<!DOCTYPE html>
<html>
    <head>
        <title>hashmat Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
    </head>
    <body>
        
   <nav class="navbar navbar-default">
  <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">HH Camp</a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/campgrounds">Browse</a></li>
                <li><a href="/users">Users</a></li>
             <% if(!currentUser) { %>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Register</a></li>
          <% }else{ %>
                <li><a href="#">Signed in As: <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
            </ul>
        </div>
    </div>
</nav>

    <div class='container'>
        <% if( error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= error %>
           <span class="sr-only"><%= error %></span>
        </div>
            <% } %>
            
           <% if(success && success.length > 0){ %>
           <div class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= success %>
          <span class="sr-only"><%= success %></span>
          </div>
          <% } %>
    </div>
    
