<% include ../partials/header %>

<h1>This is the Show page</h1>
<p>
<%= camp.name %>
</p>
<p>
<img src="<%= camp.image %>">
</p>
<p>
<%= camp.descriptions %>
</p>
<p>
    <a href="/campgrounds/<%= camp._id %>/comments/new" class="btn btn-primary">Create Comment</a>
</p>
<p>
    <% camp.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %> 
    </p>
       
    <% }); %>
</p>


<% include ../partials/footer %>